/* setteo */

*{
  box-sizing: border-box;
}
body{
  margin: 0px;
}
ul{
  list-style: none;
}
li{
  display: inline-block;
}
a{
  text-decoration: none;
  color: #ccc;
}

/*especificos*/

/* Header */
header{
  background-color: red;
  width: 100vw;
  padding: 10px;
}
header nav{
  position: relative;
}
.menu-logo{
  position: absolute;
  top: 5px;
  left: 5px;
}
.menu-top{
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px 0;
}

/* Main */
main{
  background-color: blue;
}

/* Footer */
footer{
  background-color: green;
}
