// SETTEO BASE
*
  box-sizing: border-box

body
  margin: 0px

ul
  list-style: none

li
  display: inline-block

a
  text-decoration: none
  color: index($colors, 5)

// ESPECIFICOS
/* Header */
header
  background-color: nth($colors, 4)
  width: 100vw
  padding: 10px
  nav
    position: relative

.menu-logo
  position: absolute
  top: 5px
  left: 5px

.menu-top
  position: absolute
  top: 5px
  right: 5px
  padding: 5px 0


/* Main */
main
  background-color: nth($colors, 3)


/* Footer */
footer
  background-color: nth($colors, 2)
